body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    width: 400px;
}
#task-container {
    width: 250px;
    display: flex;
    flex-direction: column;
}
#tasks {
    margin-bottom: 10px;
}

.task {
    display: flex;
    align-items: center; /* Giữ cho các phần tử căn chỉnh theo chiều dọc */
    justify-content: flex-start; /* Căn chỉnh các phần tử bên trái */
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 0; /* Ẩn task ban đầu */
    transform: translateY(-10px); /* Di chuyển lên một chút */
    transition: opacity 1.0s ease, transform 0.3s ease; /* Hiệu ứng chuyển tiếp */
}
.task.show {
    opacity: 1; /* Hiện task */
    transform: translateY(0); /* Trở về vị trí ban đầu */
}
.task.hide {
    opacity: 0; /* Ẩn task */
    transform: translateY(-10px); /* Di chuyển lên một chút */
}

#new-task-input {
    width: calc(100% - 22px);
    padding: 5px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
}

label.strikethrough {
    text-decoration: line-through;
}
.strikethrough {
    text-decoration: line-through;
    color: gray;
}

button {
    margin-left: 10px;
    background-color: #ff4d4d; 
    color: white; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    padding: 5px 10px; 
}

button:hover {
    background-color: #ff1a1a;
}
